.table {
  border: 1px solid rgb(120, 112, 112);
  border-collapse: collapse;
  width: 100%;
}

/* Estilo de los encabezados de la tabla */
.th {
  font-weight: bold;
  color: #333;
  background-color: #f2f2f2;
  border: 1px solid #333;
  width: 300px;
}

/* Estilo de las celdas de la tabla */
.td {
  border: 1px solid black;
  text-align: center;
}

/* Estilo de las filas pares */
.tr:nth-child(even) {
  background-color: #f9f9f9;
  text-align: center;
}

/* Estilo de los casilleros de verificación */
.input[type="checkbox"] {
  color: #ffffff;
  min-width: 20px; /* Asegura un tamaño mínimo constante */
  min-height: 20px; /* Asegura un tamaño mínimo constante */
}
@media (max-width: 600px) {
  .input[type="checkbox"] {
    min-width: 15px; /* Ajusta el tamaño para pantallas pequeñas */
    min-height: 15px; /* Ajusta el tamaño para pantallas pequeñas */
  }
}
/* Estilo de la sección de casilleros seleccionados */
.contenedor {
  width: 100%;
}

.contenedor h2 {
  font-weight: bold;
}

.contenedor ul {
  list-style: none;
  padding: 0;
}

.contenedor li {
  border: 1px solid #ccc;
  border-radius: 5px;
}
