.notification-list {
  position: absolute;
  background-color: white;
  width: 300px;
  border-radius: 10px;
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.notification-list {
  position: absolute;
  right: 10px;
  overflow-y: auto;
  max-height: 250px;
}
.butn:hover {
  background: linear-gradient(to top right, #007bff, #6610f2);
}
