.contenedor{
    width: calc(100% - 100px);
    left: 300px;
  }
  
  .formSol{
      display: flex;
      margin-top: 15px;
      justify-content: center;
    }
    .columnaSol {
      flex: 1; 
      margin-right: 70px;
      text-align: left;
    }
    h2{
      margin-top: 50px;
      margin-left: 20px;
    }
    label{
      font-size:24px;
        font-family:Nunito;
        font-weight: bold;
    }
    .guardar{
      border-radius:50px;
      filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
      height: 60px;
      width: 164px;
      background-color:#2a2d7e;
      color: white;
      margin-top: 50px;
    }
    .cancelar{
      border-radius:50px;
      filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
      height: 60px;
      width: 164px;
      background-color:#DFE7FA;
      color: #2a2d7e;
      margin-top: 50px;
      border-color: #2a2d7e;
      ; 
    }
    .opcionsSoli{
      display: flex;
    }
    .cuadrado{
      height: 60px;
      width: 60px;
      background-color:#fbfbfb;
      border-style: hidden;
      border-radius:10px;
    }
    .solicitud{
      background-color:#fbfbfb;
      height:20px;
      width:80px;
      filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
      border-radius:30px;
      border: none;
      margin-top: 10px;
      margin-bottom: 20px;
      font-family:Nunito;
    }
    input:focus {
      border-color: 2a2d7e; 
    }
    .textASoli{
      background-color:#fbfbfb;
      height:20px;
      width:280px;
      filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
      border-radius:20px;
      border: none;
      resize: none; 
      font-family:Nunito; 
      vertical-align: top;
      overflow-y: hidden;
    }
    .selectSoli{
    background-color:#fbfbfb;
    height:40px;
    width:300px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    border-radius:30px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15;
    border: none;
    }
    .grupo{
        select{
            width: 20px;
        }
        input{
            width: 20px;
        }
    }
    textarea::-webkit-scrollbar {
      width: 3px;
      
    }
    
    textarea::-webkit-scrollbar-thumb {
      background-color: #2a2d7e; 
      border-radius: 5px; 
    }
    
    textarea::-webkit-scrollbar-track {
      background-color: transparent; 
    }
    .more{
      border-radius: 20px;
      width: 100px;
      background-color: #2a2d7e;
      color: #ffffff;
    }
  