.contenedor{
  width: calc(100% - 100px);
  left: 300px;
}

form{
    display: flex;
    flex-wrap: wrap; 
    margin-top: 50px;
    justify-content: center;
    
    
    input{
      background-color:#fbfbfb;
      height:43px;
      width:300px;
      filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
      border-radius:30px;
      border: none;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
    select{
      background-color:#fbfbfb;
      height:43px;
      width:300px;
      filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
      border-radius:30px;
      
      margin-top: 20px;
      margin-bottom: 20px;
      border: none;
    }
  }
  .columna {
    flex: 1; 
    margin-right: 20px;
    text-align: left;
  }
  h2{
    margin-top: 100px;
    margin-left: 20px;
  }
  label{
    font-size:24px;
      font-family:Nunito;
      font-weight: bold;
  }
  .guardar{
    border-radius:50px;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    height: 60px;
    width: 164px;
    background-color:#2a2d7e;
    color: white;
    margin-top: 50px;
  }
  .cancelar{
    border-radius:50px;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    height: 60px;
    width: 164px;
    background-color:#DFE7FA;
    color: #2a2d7e;
    margin-top: 50px;
    border-color: #2a2d7e;
    ; 
  }
  .opcions{
    margin-top: 100px;

  }
  .cuadrado{
    height: 60px;
    width: 60px;
    background-color:#fbfbfb;
    border-style: hidden;
    border-radius:10px;
  }