.contenedor{
  width: calc(100% - 100px);
  left: 300px;
}

form{
    display: flex;
    flex-wrap: wrap; 
    margin-top: 15px;
    justify-content: center;
    
    
    
  }
  .columna {
    flex: 1; 
    margin-right: 20px;
    text-align: left;
  }
  h2{
    margin-top: 100px;
    margin-left: 20px;
  }
  label{
    font-size:24px;
      font-family:Nunito;
      font-weight: bold;
  }
  .guardar{
    border-radius:50px;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    height: 60px;
    width: 164px;
    background-color:#2a2d7e;
    color: white;
    margin-top: 50px;
  }
  .cancelar{
    border-radius:50px;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    height: 60px;
    width: 164px;
    background-color:#DFE7FA;
    color: #2a2d7e;
    margin-top: 50px;
    border-color: #2a2d7e;
    ; 
  }
  .opcions{
    margin-top: 100px;

  }
  .cuadrado{
    height: 60px;
    width: 60px;
    background-color:#fbfbfb;
    border-style: hidden;
    border-radius:10px;
  }
  input{
    background-color:#fbfbfb;
    height:43px;
    width:300px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    border-radius:30px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:Nunito;
  }
  input:focus {
    border-color: 2a2d7e; 
  }
  textarea{
    background-color:#fbfbfb;
    height:50px;
    width:280px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    border-radius:20px;
    border: none;
    resize: none; 
    font-family:Nunito; 
    vertical-align: top;
  }
  select{
    background-color:#fbfbfb;
    height:60px;
    width:300px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    border-radius:30px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
  }
  textarea::-webkit-scrollbar {
    width: 3px;
    
  }
  
  textarea::-webkit-scrollbar-thumb {
    background-color: #2a2d7e; 
    border-radius: 5px; 
  }
  
  textarea::-webkit-scrollbar-track {
    background-color: transparent; 
  }
