.titulo{
    color:#2a2d7e;
    text-align:left;
    vertical-align:text-top;
    font-size:40px;
    font-family:Nunito;
    line-height:auto;
    border-style:hidden;
    outline:none;
    width:699px;
    text-align: left;
    font-weight: bold;
    }
    .formReg{
        display: block;
        
    }
    .pag{
        display: flex;
        justify-content: center;
    }