.input {
  color: black;
  border: solid 1px rgb(138, 132, 132);
  border-radius: 12px;
  padding: 5px;
  margin: 1%;
}

.next-table {
  border: none !important;
}

.next-table-header,
.next-table-body,
.next-table-row,
.next-table-cell {
  border: none !important;
}

.custom-table {
  border-collapse: collapse;
}
.custom-table th,
.custom-table td {
  border: none;
}
