/* Estilo general de la tabla */
.table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%; /* Ajusta el ancho de la tabla al contenedor */
  margin: 20px auto; /* Centra la tabla horizontalmente */
  
}

/* Estilo de los encabezados de la tabla */
th {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
  border: 1px solid black;
  width: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Estilo de las celdas de la tabla */
td {
  font-size: 20px;
  width: 120px;
  padding: 10px;
  text-align: left;
  border: 1px solid black;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Estilo de las filas pares */
tr:nth-child(even) {
  background-color: #f9f9f9;
  text-align: center;
}

/* Estilo de los casilleros de verificación */
input[type="checkbox"] {
  margin: 2px; /* Reduce el margen a 2px */
  transform: scale(1.2); /* Aumenta el tamaño de los casilleros */
  color: #ffffff;
}

/* Estilo de la sección de casilleros seleccionados */
.contenedor {
  width: 100%;
  margin: 20px auto;
}

.contenedor h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contenedor ul {
  list-style: none;
  padding: 0;
}

.contenedor li {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
